body{
    margin:0;
    padding:0;

}
nav{
    background-color: #333741;
    

}
nav a{
    color:white;
    text-decoration: none;
    display:inline-block;
    font-size:large;
    padding:1rem;
}
nav a:hover{
    color:black;
    background-color:white;
}
.active{
    color:black;
    background-color: white;
}
#footer {
    color:white;
    background-color: #333333;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.banner{
    height:110px;
    overflow:hidden;
}
.banner img{
    height:400px;
    width:100%
}
select{
    margin:2rem;
    border-radius: 1rem;
    padding:1rem
}