thead{
    width: 100%;
    
}
th{
    text-align: center;
    padding-right:20vw;
    background-color: #333741;
    color:white;
    font-size: larger;
}
td{
    border-bottom: 1px solid black;
    padding: 1rem;
}
p{
    display:inline;
    padding-left: 1rem;
    
}
select{
    display:inline;
}
.content{
    display:inline-block;
}

img{
    display: inline-block;
}
tbody tr:nth-child(even){
    background-color: #e5e5e5;
}
tbody tr:hover{
    background-color: #cfcfcf;;
}
