thead{
    width: 100%;
    
}
th{
    text-align: center;
    padding-right:20vw;
    background-color: #333741;
    color:white;
    font-size: larger;
}
td{
    border-bottom: 1px solid black;
    padding: 1rem;
}
p{
    display:inline;
    padding-left: 1rem;
    
}
select{
    display:inline;
    background:transparent;
    color:white;
}
option{
    color:black;
}
.content{
    display:inline-block;
}

img{
    display: inline-block;
}
tbody{
    background-color: #e5e5e5;
}
tbody tr:hover{
    background-color: #cfcfcf;;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin:2rem;
    border-radius: 1rem;
    border:2px solid black;
    
  }
  input::placeholder{
    color:black;
}
input{
    border:none;
}
